<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308793886953-obns6mfhdn9rfl955s8gc6g1kbqoh15t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308793886953-obns6mfhdn9rfl955s8gc6g1kbqoh15t</string>
	<key>API_KEY</key>
	<string>AIzaSyCEGQg8iKBuL5U6-vDarMJ2shJUgKYkAcY</string>
	<key>GCM_SENDER_ID</key>
	<string>308793886953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDonor</string>
	<key>PROJECT_ID</key>
	<string>bloodui-6d9f3</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodui-6d9f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308793886953:ios:0341efd8fd61a0d6c88878</string>
</dict>
</plist>